
<div style="height:400px; width: 400px; display: flex;">
    <div style="justify-content: center; align-items: center; justify-items: center;">
      <div>
        <h1 style="color: rgb(1, 53, 9); text-align: center;">Garbage Tracking System</h1>
      </div>
      <div>
        <h3 style="text-align: center;">Your OTP</h3>
      </div>
      <div style="width: 400px; margin-left: 180px;">   
        
        <div style="width: 200px; background-color:rgb(0, 45, 11);color:#fff;text-align:center;border-radius:48px;padding:16px 24px;border-color:transparent;font-weight:bold;font-size:16px;line-height:1">
            <%= text %> 
        </div>
      </div> 
      </a>
      </div>
    </div>
  
  