
<div style="height:400px; display: flex;">
    <div style="justify-content: center; align-items: center; justify-items: center;">
      <div>
        <h1 style="color: rgb(224, 67, 0); text-align: center; font-weight: bold; margin-left: 45px;">Alert!!! Driver is Near BY</h1>
      </div>
      <div>
        <h3 style="text-align: center;">Distance:<%= text %></h3>
      </div>
      <div style="width: 400px; text-align: center;">   
        <div style="width: 600px; background-color:rgb(3, 68, 19);color:#fff;text-align:center;border-radius:6px;padding:45px;border-color:transparent;font-size:16px;line-height:1">
           तपाईंको स्थान वरपर फोहोर फाल्ने गाडी छ। कृपया, यसलाई फाल्न अघि कुहिने र नकुहिने फोहोर अलग गर्नुहोस्। <br> <br> There is a garbage vehicle around your location . Please, separate the degradable and Non-degradable waste  before throwing it. 
        </div>
      </div> 
      </a>
      </div>
    </div>
  
  